@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,700;0,900;1,700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Titillium Web", sans-serif;
}

/*Header----------------------------------------------------------------------------------------------*/
.up {
  background-color: #ec3d08;
  text-align: center;
  height: 50px;
}
.up p {
  font-weight: 100;
  color: #fff;
  display: inline;
}

.fondo {
  background-image: url(../img/fondo.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: -22px;
}

.fondo2 {
  background-image: url(../img/fondo2.png);
  width: 100%;
  height: 150px;
  margin-top: -22px;
}

.arriba {
  margin-top: 8px;
}

.arriba2 {
  margin-top: 0px;
}

.top img {
  height: 70px;
}

.menu li {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
}
.menu li a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}
.menu li a:hover {
  color: #ec3d08;
}

.navbar-toggler {
  border: none !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

.menu-icon img {
  width: 60px;
  height: 100%;
  padding: 10px;
  display: none;
}

.social img {
  width: 30px;
  margin: 10px;
}

/*Menu Burger Propio------------------------------------------*/
.logo-burger img {
  width: 60px;
}

.menu-cerrar img {
  width: 30px;
  position: absolute;
  top: 26px;
  left: 26px;
}

.menu-burger {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: absolute;
  display: none;
  justify-items: center;
  align-content: center;
  background-color: #ec3d08;
}
.menu-burger li {
  font-weight: 700;
  font-size: 42px;
  list-style: none;
}
.menu-burger li a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}
.menu-burger li a:hover {
  color: #ffb936;
}

/*Titulos Generales-------------------------------------------*/
.textos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: normal;
  margin: 100px 50px;
}
.textos h2 {
  color: #ffb936;
  font-size: 42px;
  font-weight: 900;
  line-height: 50px;
  display: inline-block;
}
.textos p {
  font-size: 18px;
}

/*Main Inicio----------------------------------------------------------------------------------------------*/
main {
  margin-top: 80px;
}

.titulo h1 {
  color: #ffb936;
  font-size: 55px;
  font-weight: 900;
  line-height: 50px;
}

.condimentos img {
  width: 50px;
  display: inline;
  margin: 5px;
}
.condimentos p {
  color: #fff;
  justify-content: center;
  display: inline-block;
}

.btn {
  background-color: #ec3d08;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px;
}
.btn:hover {
  background-color: #ffb936;
}
.btn img {
  height: 24px;
}

.burger {
  padding: 10px;
}

/*Tipo inicio----------------------------------------------------------------------------------------------*/
.colorfondo {
  background: url(../img/textura2.png) repeat, #fafafa;
}

.tipos {
  padding-top: 50px;
  padding-bottom: 50px;
}
.tipos h3 {
  color: #ffb936;
  font-size: 32px;
  font-weight: 900;
  line-height: 50px;
  text-align: center;
  margin: 10px 0px 20px 0px;
}

.card-title {
  text-align: center;
}

.card {
  align-items: center;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.card .btn {
  background-color: #ec3d08;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 20px 0px;
  border: none;
}
.card .btn:hover {
  background-color: #ffb936;
}

.card-img-top {
  padding: 10px;
  margin: 20px 0px;
}

/*Main Que comemos?.................................................................*/
.queComemos {
  background: url(../img/textura.png) repeat, #ffb936;
  padding: 20px 30px;
}
.queComemos .card {
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.queComemos .card-img-top {
  object-fit: contain;
  width: 350px;
  padding: 20px;
  display: inline;
}
.queComemos .cuerpo {
  display: inline;
  padding: 20px;
}
.queComemos .card-title {
  font-size: 18px;
  font-weight: 800;
  color: #ffb936;
  text-align: left;
}
.queComemos .precio {
  margin-top: -20px;
  font-size: 28px;
  font-weight: 800;
  color: #ec3d08;
}
.queComemos .btn {
  margin-top: -10px;
}

/*Main Historia.................................................................*/
.historia {
  background: url(../img/textura.png) repeat, #ffb936;
  padding: 20px 100px;
}
.historia .card {
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.historia .card-title {
  font-size: 32px;
  font-weight: 800;
  text-align: left;
}

/*Main Galeria.................................................................*/
.galeria {
  background: url(../img/textura.png) repeat, #ffb936;
  padding: 50px;
}
.galeria .imagen {
  margin: 15px 0px;
}
.galeria .imagen img {
  border-radius: 20px;
  object-fit: contain;
}

.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  transform: scale(1.5);
}

/*Main Hablemos.................................................................*/
.hablemos {
  margin-top: -6px;
  padding: 50px 20px;
  background: url(../img/textura.png) repeat, #ffb936;
}

.formulario input {
  display: inline-block;
  padding: 10px 5px;
  margin: 10px 5px;
  border-radius: 25px;
  border: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
}

.formulario ::placeholder {
  padding-left: 8px;
}

.formulario .juntos {
  display: flex;
  margin-bottom: -10px;
}

.formulario #motivo {
  display: block;
}

.formulario #texto {
  display: block;
  padding: 10px 5px;
  margin: 10px 5px;
  border-radius: 25px;
  border: none;
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
}

.formulario .btn {
  background-color: #ec3d08;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
  border: none;
}
.formulario .btn:hover {
  background-color: #212529;
  color: #ffb936;
}

/*WhatsApp......................................................................*/
.wsp img {
  position: fixed;
  width: 50px;
  bottom: 50px;
  right: 50px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}

/*Pie..........................................................................*/
footer {
  background: #000;
  color: #fff;
  padding: 40px 30px 30px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a {
  margin-top: 10px;
  color: #ffb936;
  text-decoration: none;
  font-weight: 700;
}
footer a:hover {
  margin-top: 10px;
  color: #ec3d08;
  text-decoration: none;
}

/*Mobile*/
@media (max-width: 759px) {
  main {
    margin-top: 20px;
  }
  .contenido {
    display: flex;
    justify-content: center;
  }
  .titulo h1 {
    text-align: center;
    font-size: 35px;
    line-height: 30px;
  }
  .up p {
    font-size: 12px;
  }
  .textos {
    margin: 40px 15px;
  }
  .burger {
    width: 320px;
    order: 1;
  }
  .titulo {
    order: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .condimento {
    display: none;
  }
  .tipos .btn {
    font-size: 8px;
    padding: 10px 20px;
    border-radius: 20px;
  }
  .historia {
    background: url(../img/textura.png) repeat, #ffb936;
    padding: 20px 30px;
  }
  .queComemos .card {
    flex-direction: column;
    margin: 5px;
  }
  .queComemos .cuerpo {
    padding: 5px;
  }
  .queComemos .card-img-top {
    width: 200px;
    padding: 5px;
    margin-bottom: -20px;
  }
  .menu-icon img {
    display: flex;
  }
}
/*Tablet-Notebook*/
@media (min-width: 760px) {
  main {
    margin-top: 30px;
  }
  .titulo h1 {
    font-size: 42px;
    line-height: 32px;
  }
  .textos {
    margin: 80px 35px;
  }
  .historia {
    background: url(../img/textura.png) repeat, #ffb936;
    padding: 20px 40px;
  }
  .queComemos .card {
    flex-direction: column;
    margin: 5px;
  }
  .queComemos .cuerpo {
    padding: 8px;
  }
  .queComemos .card-img-top {
    width: 250px;
    padding: 10px;
    margin-bottom: -10px;
  }
  .menu-icon img {
    display: flex;
  }
}
/*Pc o Smart*/
@media (min-width: 1100px) {
  main {
    margin-top: 120px;
  }
  .titulo h1 {
    font-size: 55px;
    line-height: 50px;
  }
  .queComemos .card {
    flex-direction: row;
  }
  .queComemos .cuerpo {
    padding: 20px;
  }
  .queComemos .card-img-top {
    width: 350px;
    padding: 20px;
  }
  .menu-icon img {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
