/*Main Inicio----------------------------------------------------------------------------------------------*/

main {
    margin-top: 80px;
}


.titulo h1 {
    color: $colorPrincipal;
    font-size: 55px;
    font-weight: 900;
    line-height: 50px;
}


.condimentos {
    img {
        width: 50px;
        display: inline;
        margin: 5px;
    }

    p {
        color: #fff;
        justify-content: center;
        display: inline-block
    }
}



.btn {
    @include botonesRedondeados($colorSecundario,15px 30px,40px);
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;

    &:hover {
        background-color: $colorPrincipal;
        transition:all 1s;
    }

    img {
        height: 24px;
    }
}

.burger {
    padding: 10px;
}


/*Tipo inicio----------------------------------------------------------------------------------------------*/
.colorfondo {
    background: url(../img/textura2.png)repeat, #fafafa;

}

.tipos {
    padding-top: 50px;
    padding-bottom: 50px;

    h3 {
        color: $colorPrincipal;
        font-size: 32px;
        font-weight: 900;
        line-height: 50px;
        text-align: center;
        margin: 10px 0px 20px 0px;
    }
}

.card-title {
    text-align: center;
}

.card {
    align-items: center;
    border: none;
    box-shadow: $sombras;

    .btn {
        @include botonesRedondeados($colorSecundario,15px 30px,40px);
        color: #fff;
        font-weight: 700;
        font-size: 12px;
        text-decoration: none;
        text-transform: uppercase;
        margin: 20px 0px;
        border: none;

        &:hover {
            background-color: $colorPrincipal;
            transition:all 1s;
        }
    }
}

.card-img-top {
    padding: 10px;
    margin: 20px 0px;
}

/*Main Que comemos?.................................................................*/
.queComemos {
    background: url(../img/textura.png)repeat, $colorPrincipal;
    padding: 20px 30px;
      

    .card {
        margin: 10px;
        display: flex;
        flex-direction: row;
        box-shadow: $sombras;
    }

    .card-img-top {
        object-fit: contain;
        width: 350px;
        padding: 20px;
        display: inline;
    }

    .cuerpo {
        display: inline;
        padding: 20px;
    }

    .card-title {
        font-size: 18px;
        font-weight: 800;
        color: $colorPrincipal;
        text-align: left;
    }

    .precio {
        margin-top: -20px;
        font-size: 28px;
        font-weight: 800;
        color: $colorSecundario;
    }

    .btn {
        margin-top: -10px
    }
}



/*Main Historia.................................................................*/
.historia {
    background: url(../img/textura.png)repeat, $colorPrincipal;
    padding: 20px 100px;

    .card {
        border: none;
        box-shadow: $sombras;
    }

    .card-title {
        font-size: 32px;
        font-weight: 800;
        text-align: left;
    }
}

/*Main Galeria.................................................................*/
.galeria {
    background: url(../img/textura.png)repeat, $colorPrincipal;
    padding: 50px;

    .imagen {
        margin: 15px 0px;

        img {
            border-radius: 20px;
            object-fit: contain;
        }

    }
}

.zoom {
    transition: transform .2s;

    &:hover {
        transform: scale(1.5);
    }
}





/*Main Hablemos.................................................................*/
.hablemos {
    margin-top: -6px;
    padding: 50px 20px;
    background: url(../img/textura.png)repeat, $colorPrincipal;
}


.formulario input {
    display: inline-block;
    padding: 10px 5px;
    margin: 10px 5px;
    border-radius: 25px;
    border: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;

}

.formulario ::placeholder {
    padding-left: 8px;
}


.formulario .juntos {
    display: flex;
    margin-bottom: -10px;
}

.formulario #motivo {
    display: block;
    
}

.form-select{
    border-radius: 25px;
    padding: 10px 5px;
    margin: 10px 5px;
    border:none;
}

.formulario #texto {

    display: block;
    padding: 10px 5px;
    margin: 10px 5px;
    border-radius: 25px;
    border: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;

}

.formulario .btn {
    @include botonesRedondeados($colorSecundario,15px 30px, 40px);
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
    border: none;

    &:hover {
        background-color: #212529;
        color: $colorPrincipal;
        transition:all 1s;
    }

}