/*Titulos Generales-------------------------------------------*/

.textos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: normal;
    margin: 100px 50px;

    h2 {
        color: $colorPrincipal;
        font-size: 42px;
        font-weight: 900;
        line-height: 50px;
        display: inline-block
    }

    p {
        font-size: 18px;
    }
}