/*WhatsApp......................................................................*/
.wsp img {
    position: fixed;
    width: 50px;
    bottom: 50px;
    right: 50px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
}